<%= erb :'temel/ust' %>
  <div class="orta">
    <% if !@filmler.nil? %>
      <% @filmler.each do |film| %>
        <div class="film">
          <a href="/film/<%= film['idFilmler'] %>" >
            <img src="<%= film['poster_url'] %>" alt="<%= film['film_adi'] %>" width="180" height="250">
          </a>
        </div>
      <% end %>
    <% else %>
      <%= "Film Bulunamadı." %>
    <% end %>
      <i style="color:#e74c3c">.</i>
  </div>
  <%= erb :'temel/alt' %>
