<%= erb :'temel/ust' %>
  <div class="orta">
    <h1 style="padding-left: 10px;"><%= params[:film_adi] %>, aramasının sonuçları : </h1>
    <%= puts @kullanici %>
    <% if !@filmler.nil? %>
      <% @filmler.each do |film| %>
        <div class="film">
          <a href="/film/<%= film['idFilmler'] %>" >
            <img src="<%= film['poster_url'] %>" alt="<%= film['film_adi'] %>" width="180" height="250">
          </a>
        </div>
      <% end %>
    <% else %>
      <%= "Sonuç Bulunamadı." %>
    <% end %>
      <i style="color:#e74c3c">.</i>
  </div>
<%= erb :'temel/alt' %>
