<%= erb :'temel/ust' %>
  <div class="orta">
    <div class="player">

    </div>
    <div class="film-aciklamalari">
      <h2><%= @film.first['film_adi'] %></h2>
      <h4>IMDB : <%= @film.first['imdb_puani'].round(2) %> | Çıkış Tarihi : <%= @film.first['yapim_tarihi'].year %></h4>
      <p><%= @film.first['aciklama'] %></p>
      <div class="satin_al">
        <a href="#">Filmi Satın Al - <%= @film.first['fiyat'] %> ₺</a>
      </div>
    </div>
    <div class="ayrintilar">
      <div class="tabs">
        <ul class="tab-links">
          <li><a href="#tab1"> Öneriler </a></li>
          <li class="active"><a href="#tab2"> Açıklamalar </a></li>
          <li><a href="#tab3"> Yorumlar </a></li>
        </ul>
        <hr>
        <div class="tab-content">
          <div id="tab1" class="tab">
            <h2>Efsanevi Algoritmamızın Sizin İçin Seçtiği Filmler</h2>
            <% if !@oneriler.nil? %>
              <% @oneriler.each do |film| %>
                <div class="film filmx">
                  <a href="/film/<%= film['idFilmler'] %>" >
                    <img src="<%= film['poster_url'] %>" alt="<%= film['film_adi'] %>" width="180" height="250">
                  </a>
                </div>
              <% end %>
            <% else %>
              <%= "Hata Oldu. Lütfen iletişime geçiniz." %>
            <% end %>
            <i style="color:#e74c3c">____</i>
          </div>
          <div id="tab2" class="tab active">
            <div class="yonetmen">
              <div class="yonetmen-resim">
                <img src="<%= @film.first['yonetmen_resim_url'] %>" alt="">
              </div>
              <h2><%= @film.first['yonetmen_adi'] %></h2>
              <p><%= @film.first['yonetmen_aciklama'] %></p>
            </div>
            <div class="oyuncular">
              <% @film.each do |oyuncu| %>
                <div class="oyuncu">
                  <div class="oyuncu-resim">
                    <img src="<%= oyuncu['oyuncu_resim_url']%>" alt="">
                  </div>
                  <h3><%= oyuncu['oyuncu_adi']%> <%= oyuncu['oyuncu_soyadi']%> </h3>
                  <p><%= oyuncu['oyuncu_aciklama'][0..80]%>..</p>
                </div>
              <% end %>
            </div>
          </div>
          <div id="tab3" class="tab">
            <h2>Yorum sistemimiz kısa süre içerisinde geliştirilecektir. </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= erb :'temel/alt'%>
